spring:
  application:
    name: sample
  datasource:
    main:
      driver-class-name: org.h2.Driver
      jdbc-url: jdbc:h2:mem:test
      maximum-pool-size: 20
      minimum-idle: 10
      username: su
      password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        use_sql_comments: true
        format_sql: true
        jdbc:
          time_zone: UTC
        id.new_generator_mappings: true
        default_batch_fetch_size: 100
        plan_cache_max_size: 2048
        in_clause_parameter_padding: true
        plan_parameter_metadata_max_size: 2048
